<footer id="footer" class="footer">
  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="index.html" class="d-flex align-items-center">
          <span class="sitename"><span>The</span> Wise</span>
        </a>
        <div class="footer-contact pt-3">
          <p class="mt-3"><strong>Teléfono:</strong> <span>+56 9 5873 7888</span></p>
          <p><strong>Email:</strong> <span>contacto@thewise.cl</span></p>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Enlaces utiles</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#about">Quienes somos</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#services">Servicios</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#contact">Contáctanos</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Nuestros servicios</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Administración de Condominios</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Corretaje de propiedades</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Asesorias</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-12">
        <h4>Siguenos en RRSS</h4>
        <p>Encuentranos en las principales redes sociales</p>
        <div class="social-links d-flex">
          <!--// TODO: Agregar link Instagram -->
          <a href=""><i class="bi bi-instagram"></i></a>
           <!--// TODO: Corregir link Linkedin -->
          <a href="https://www.linkedin.com/in/claudia-condor-herrera-805367118/" target="_blank"><i class="bi bi-linkedin"></i></a>
          <a href="https://wa.me/+56958737888?text=Hola,%20me%20gustaría%20más%20información%20sobre%20sus%20servicios" target="_blank"><i class="bi bi-whatsapp"></i></a>
        </div>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">The Wise</strong> <span>Todos los derechos reservados.</span></p>
    <div class="credits">
      Created by <a href="https://tiidi.cl/">Tiidi</a>
    </div>
  </div>

</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
